* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    font-size: 4rem;
    transition: all 0.2s ease-in-out;
}

.choice:hover {
    font-size: 5rem;
    transform: rotate(10deg);
    opacity: 1;
}

.choice:hover,
.choice:hover~.choice {
    opacity: 1;
}

.choices:hover .choice:not(:hover) {
    opacity: 0.6;
}

img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}

#paper {
    background-color: rgb(78, 137, 255);
}

#rock {
    background-color: rgb(248, 99, 223);
}

#scissor {
    background-color: rgb(157, 85, 251);
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 1rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 3rem;
    margin-top: 3rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 1.5rem;
    display: inline;
    padding: 5px 20px;
    border-radius: 1rem;
}

footer {
    position: absolute;
    /* border: 2px solid black; */
    bottom: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
}

footer a {
    text-decoration: none;
    color: #004c7e;
    /* border: 2px solid black; */
    display: block;
}

@media screen and (max-width: 600px) {
    .choice {
        width: 100px;
        height: 100px;
        font-size: 3rem;
    }
    h1{
        height: 3rem;
        line-height: 3rem;
        font-size: 1rem;
    }
    .score-board {
        font-size: 1rem;
    }
    .choice:hover {
        font-size: 3.5rem;
    }
    #user-score,
#comp-score {
    font-size: 2rem;
}
#msg{
    font-size: 1rem;
}
  }